In [8]:
import pandas as pd

In [10]:
# 데이터프레임
fruits_df = pd.DataFrame({
	'fruit': ['사과', '딸기', '참외'], 
	'price': [1000, 300, 700]
})

fruits_df

  fruit  price
0    사과   1000
1    딸기    300
2    참외    700

In [14]:
# 라벨이 있는 데이터프레임
fruits_df = pd.DataFrame({
	'fruit': ['사과', '딸기', '참외'], 
	'price': [1000, 300, 700]
}, index=['A', 'B', 'C'])

fruits_df

  fruit  price
A    사과   1000
B    딸기    300
C    참외    700

In [11]:
# 시리즈
fruit_s = pd.Series(['사과', '딸기', '참외'])

fruit_s

0    사과
1    딸기
2    참외
dtype: object

In [15]:
# 라벨이 있는 시리즈 
fruit_s = pd.Series(['사과', '딸기', '참외'], index=['A', 'B', 'C'])

fruit_s

A    사과
B    딸기
C    참외
dtype: object

In [20]:
# 데이터프레임에 시리즈 사용
# fruits_df index: A, B, C
# fruit_s index: A, B, C
fruits_df = pd.DataFrame({
	'fruit': fruit_s, 
	'price': [1000, 300, 700]
}, index=['A', 'B', 'C'])

fruits_df

  fruit  price
A    사과   1000
B    딸기    300
C    참외    700

In [23]:
# 데이터프레임과 시리즈의 인덱스가 서로 다를 경우 매칭 안됨(NaN)
# fruits_df index: X, Y, Z
# fruit_s index: A, B, C
fruits_df = pd.DataFrame({
	'fruit': fruit_s, 
	'price': [1000, 300, 700]
}, index=['X', 'Y', 'Z'])

fruits_df

  fruit  price
X   NaN   1000
Y   NaN    300
Z   NaN    700