In [1]:
import pandas as pd

In [2]:
fruits_df = pd.DataFrame({
	'fruit': ['사과', '딸기', '참외'], 
	'price': [1000, 300, 700]
}, index=['A', 'B', 'C'])

fruits_df

  fruit  price
A    사과   1000
B    딸기    300
C    참외    700

In [3]:
# 슬라이싱
# fruits_df.loc['A':'B']
fruits_df.iloc[0:2]
# fruits_df.iloc[:2]

  fruit  price
A    사과   1000
B    딸기    300

In [4]:
# 팬시 인덱싱
fruits_df.loc[['A', 'C']]
# fruits_df.iloc[[0, 2]]

  fruit  price
A    사과   1000
C    참외    700

In [5]:
# 과일 컬럼만 보기
fruits_df.loc[['A','C'], ['fruit']]
# fruits_df.iloc[[0, 2], [0]]

  fruit
A    사과
C    참외

In [6]:
# 조건 보기
fruits_df.loc[fruits_df['price'] >= 700]
# fruits_df.loc[fruits_df['price'] < 700]
# fruits_df.loc[fruits_df['price'] == 1000]

  fruit  price
A    사과   1000
C    참외    700

In [7]:
# 조건 2개 이상 
fruits_df.loc[(fruits_df['price'] >= 500) & (fruits_df['price'] < 1000)]

  fruit  price
C    참외    700

In [8]:
# 정렬 
fruits_df.sort_values(by = 'price') # 오름차순
# fruits_df.sort_values(by = 'price', ascending=False) # 내림차순

  fruit  price
B    딸기    300
C    참외    700
A    사과   1000