In [1]:
import pandas as pd

In [2]:
fruits_df = pd.DataFrame({
	'fruit': ['사과', '딸기', '참외'], 
	'price': [1000, 300, 700]
}, index=['A', 'B', 'C'])

fruits_df

  fruit  price
A    사과   1000
B    딸기    300
C    참외    700

In [3]:
# 컬럼 추가
# fruits_df['tax'] = fruits_df['price'] * 0.1
# fruits_df

In [4]:
# 특정 위치에 컬럼 추가
fruits_df.insert(1, 'tax', fruits_df['price'] * 0.1)
fruits_df

  fruit    tax  price
A    사과  100.0   1000
B    딸기   30.0    300
C    참외   70.0    700

In [5]:
# 고정된 값 추가: 재고 10개씩
# fruits_df.insert(3, 'quantity', 10)
# fruits_df

In [6]:
# 컬럼 이름 변경
fruits_df = fruits_df.rename(columns = { 'fruit': 'name' })
fruits_df

  name    tax  price
A   사과  100.0   1000
B   딸기   30.0    300
C   참외   70.0    700

In [7]:
# 열 삭제
new_df = fruits_df.drop('tax', axis=1) # fruits_df에서 tax 컬럼이 삭제된 내용을 반환함
fruits_df.drop('tax', axis=1, inplace=True) # fruits_df의 tax 컬럼 삭제됨
fruits_df

  name  price
A   사과   1000
B   딸기    300
C   참외    700

In [8]:
# 행 삭제
new_df = fruits_df.drop(index='C', axis=0) # fruits_df에서 C 레이블이 삭제된 내용을 반환함
fruits_df.drop('C', axis=0, inplace=True) # fruits_df의 C 레이블 삭제됨
fruits_df

  name  price
A   사과   1000
B   딸기    300

In [9]:
# 파일로 저장
# data 폴더 만든 후 실행
fruits_df.to_csv('./data/fruits.csv')